{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock title %}

{% block content %}
    <h2>Categories</h2>
    <ul class="blog-cat">
        {% for category in categories %}
            <li class="blog-cat-li">
                <img class='blog-cat-img' src="{{ category.image.url }}" alt="{{ category.name }}">
                
                <a class="blog-cat-name" href="{% url 'category_detail' category.pk %}"> 
                    {{ category.name }} </a>
            </li>
                
        {% endfor %}
    </ul>
{% endblock content %}
