{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% block content %}
  <div>
    <h1>Welcome</h1>
    <p>
      Welcome to our cozy corner of the web, where we celebrate the beautiful journey of pregnancy and the joys of parenting! 🌟 Whether you’re eagerly anticipating your little one’s arrival or already navigating the wonderful world of parenthood, you’ve found your haven.<br /><br />

      Here, we believe every pregnancy and parenting journey is unique and deserves to be cherished. Our platform offers you the perfect space to document every flutter, kick, milestone, and giggle - turning fleeting moments into everlasting memories. From the first positive test to your baby's first steps and beyond, our journal features are designed with love, ensuring you capture the essence of these precious times.<br /><br />

      Let’s celebrate this magical journey together, creating a beautiful tapestry of memories that you and your family will treasure forever. Welcome aboard! 🍼💖<br /><br />
    </p>
    <hr />

    {% if not user.is_authenticated %}
      <p>
        <a href="{% url 'user-sign-in' %}" role="button">Sign In</a>
        <a href="{% url 'user-sign-up' %}" role="button">Sign Up</a>
      </p>
    {% else %}
      <a href="{% url 'user-sign-out' %}" role="button">Sign Out</a>
    {% endif %}
  </div>
{% endblock %}
