{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        My Blog
      {% endblock %}
    </title>
    {% block extra_css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tiny.css' %}" />
  </head>
  <body class="container">
    <header></header>
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer id="main-footer">
      <p>© 2024 Tiny Tales</p>
    </footer>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>
